// Custom Colors
$ss-dark-blue:                            #353556;
$ss-green:                                #76DAAC;
$ss-gray:                                 #82898D;
$ss-light-blue:                           #202089;
$ss-pink:                                 #F21E75;
$ss-placeholder:                          rgba(53, 53, 86, 0.54);
$ss-background:                           #F7F7F7;
$ss-white:                                #fff;

// Override Bootstrap Varialbes
$enable-flex:                             true;
$enable-shadows:                          true;
$enable-transitions:                      true;

$gray-dark:                               $ss-dark-blue;
$gray:                                    #55595c;
$gray-light:                              $ss-placeholder;
$gray-lighter:                            #eceeef;
$gray-lightest:                           #f7f7f9;

$body-bg:                                 $ss-background;
$thumbnail-bg:                            $ss-white;

$brand-primary:                           $ss-light-blue;
$brand-success:                           $ss-green;
$brand-danger:                            $ss-pink;
$brand-default:                           $ss-gray;

$text-color:                              $ss-gray;

$font-family-sans-serif:                  "museo-sans",sans-serif;

$border-radius:                           4px;

$btn-padding-y:                           .7rem;
$btn-font-weight:                         300;
 
$input-padding-y:                         .7rem;
$input-border-color:                      $gray-lighter;
$input-border-focus:                      darken($gray-lighter, 5%);
$input-box-shadow-focus:                  none;

$table-bg:                                $ss-white;

$state-danger-text:                       $ss-white;
$state-danger-bg:                         $ss-pink;
$state-danger-border:                     darken($state-danger-bg, 5%) !default;